.post {
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto 15vh auto;
    font-size: 1em;

    h1 {
      text-transform: lowercase;
      text-align: center;
      font-weight: 100;
      height: 30vh;
      line-height: 30vh;
    }

    h3 {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 20px;
    }

    img {
      max-width: 100%;
    }
  }

  .post-nav {
    ul {
      display: flex;
      width: 100%;
      li {
        flex: auto;
        text-align: center;
        a {
          height: 10vh;
          font-size: 2.4em;
          line-height: 10vh;
          color: $white;
          text-decoration: none;
          text-transform: lowercase;
          display: block;
        }
        &:first-child {
          a {
            background: $green;
          }
        }
        &:last-child {
          a {
            background: $red;
          }
        }
      }
    }
  }

}