* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', Arial, SunSans-Regular, Sans-Serif;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    font-size: 26px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: 26px;
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 12px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    font-size: 12px;
  }

}

body>header h1>a {
  text-decoration: none;
}

body>header h4 {
  margin-top: -10px;
}

hr {
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  min-width: 840px;
}

pre {
  background-color: $light-gray;
  padding: 5px;
}

code {
  background-color: $light-gray;
  padding-left: 3px;
  padding-right: 3px;
}

table {
  border: none;
}

td {
  padding-left: 20px;
}

a:hover {
  color: $gray;
}

nav a:hover {
  color: $gray;
}

nav li{
  list-style: none;
}

article .entry img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

section address {
  margin-left: 15px;
}

#paginator {
  padding: 10px;
}

#paginator a {
  text-decoration: none;
}

.more {
  margin-left: 80%;
}