<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>
    <link rel="author" href="humans.txt"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />

</head>

<body class="post">

<main>

    {{ content }}

</main>

<nav class="post-nav">
    <ul>
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/archive">Archive</a></li>
    </ul>
</nav>

    {% include footer.html %}

<script src="{{site.baseurl}}/scripts.js"></script>
</body>

</html>